In [9]:
import pandas as pd 
from sqlalchemy import create_engine
from sql_pw import sql_pw

ModuleNotFoundError: No module named 'sql_pw'

In [3]:
# Load and read csv
csv_file = "./Resources/us_counties_covid.csv"
us_covid = pd.read_csv(csv_file)
us_covid_df = us_covid[["date", "county", "state", "cases", "deaths"]].copy()

csv_file_2 = "./Resources/udemy_courses.csv"
udemy_courses = pd.read_csv(csv_file_2)
udemy_courses_df = udemy_courses[["course_title", "price", "num_subscribers", "num_reviews", "num_lectures",
                                 "level", "content_duration","subject"]].copy()

In [4]:
us_covid_df.head()

         date     county       state  cases  deaths
0  2020-01-21  Snohomish  Washington      1     0.0
1  2020-01-22  Snohomish  Washington      1     0.0
2  2020-01-23  Snohomish  Washington      1     0.0
3  2020-01-24       Cook    Illinois      1     0.0
4  2020-01-24  Snohomish  Washington      1     0.0

In [5]:
udemy_courses_df

,course_title,price,num_subscribers,num_reviews,num_lectures,level,content_duration,subject
0,Ultimate Investment Banking Course,200,2147,23,51,All Levels,1.5,Business Finance
1,Complete GST Course & Certification - Grow You...,75,2792,923,274,All Levels,39.0,Business Finance
2,Financial Modeling for Business Analysts and C...,45,2174,74,51,Intermediate Level,2.5,Business Finance
3,Beginner to Pro - Financial Analysis in Excel ...,95,2451,11,36,All Levels,3.0,Business Finance
4,How To Maximize Your Profits Trading Options,200,1276,45,26,Intermediate Level,2.0,Business Finance
...,...,...,...,...,...,...,...,...
3673,Learn jQuery from Scratch - Master of JavaScri...,100,1040,14,21,All Levels,2.0,Web Development
3674,How To Design A WordPress Website With No Codi...,25,306,3,42,Beginner Level,3.5,Web Development
3675,Learn and Build using Polymer,40,513,169,48,All Levels,3.5,Web Development
3676,CSS Animations: Create Amazing Effects on Your...,50,300,31,38,All Levels,3.0,Web Development
3677,Using MODX CMS to Build Websites: A Beginner's...,45,901,36,20,Beginner Level,2.0,Web Development

```sql
-- Create tables and load data

CREATE TABLE us_covid(
	date TEXT, 
	county TEXT,
	state TEXT, 
	cases INT,
	deaths INT
); 

CREATE TABLE udemy_coureses(
	course_title TEXT, 
	price INT,
	num_subscribers INT,
	num_reviews INT,
	num_lectures INT,
	level INT,
	content_duration INT, 
	subject TEXT
);

SELECT * FROM us_covid;
SELECT * FROM udemy_coureses

```

In [11]:
connection_string = f"postgres:{password}@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
engine.table_names()

['us_covid', 'udemy_coureses']

In [1]:
us_covid_df.to_sql(name="us_covid", con=engine, if_exist='append', index=False)

NameError: name 'us_covid_df' is not defined